.menu_home_container_main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_home_container{
    width: 97%;
    height: 89vh;
    background-color: rgba(120, 120, 120, 0.659);
    border-radius: 2vw;
    padding: 4vh;
    overflow: auto;
}