.menu_main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dish_main_container {
  flex: 1;
  column-count: 2;
  column-gap: 2vw;
  margin: 0;
  overflow-y: auto;
}

.dish_container {
  break-inside: avoid;
  margin-bottom: 25px;
  width: 100%;
  margin-top: 0;
}

.dish_title {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  font-family: "Ondine";
  color: rgb(91, 44, 28);
  font-size: 3vh;
}

.dish_name{
  font-size: 1.5vh;
  font-family: "MulishBold";
}

.dish {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  grid-auto-rows: 4vw;
  font-size: 1.5vh;
  font-family: "Mulish";
}

.price {
  font-family: "MulishBold";
  justify-self: center;
}

.dish_title p:last-child {
  justify-self: center;
}
