.menu_main_container {
  display: flex;
  flex-direction: column;
}

.dish_main_container {
  flex: 1;
  column-count: 2;
  column-gap: 58.4px;
  margin: 0;
  overflow-y: auto;
}

.dish_container {
  break-inside: avoid;
  margin-bottom: 25px;
  width: 100%;
  margin-top: 0;
}

.dish_title {
  display: flex;
  justify-content: space-between;
  font-family: "Ondine";
  color: rgb(91, 44, 28);
  font-size: 3vh;
}

.dish_name {
  font-size: 1.5vh;
  font-family: "MulishBold";
}

.dish {
  display: grid;
  grid-template-columns: 7fr 1fr;
  font-size: 1.5vh;
  font-family: "Mulish";
}

.price {
  font-family: "MulishBold";
  justify-self: center;
}

.dish_header_columns {
  display: flex;
  justify-content: space-between;
  width: 5.3rem;
  font-family: "MulishBold";
  justify-items: center;
}

.dish_header_columns2 {
  font-family: "MulishBold";
}

.price_columns {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-items: center;
  font-family: "MulishBold";
}

.price_columns2{
  display: grid;
  grid-template-columns: 80px 0px;
  justify-items: end;
  font-family: "MulishBold";
}

.price_columns2 p{
 padding-right: 8px;
}

@media (max-width: 1100px) {
  .dish_header_columns {
    font-size: 2.3vh;
    width: 5.2rem;
  }

  .dish_header_columns2 {
    font-size: 2.3vh;
  }
}

@media (max-width: 600px) {
  .dish_main_container {
    column-count: 1;
  }

  .dish_header_columns2 {
    padding-right: 0px;
  }

  .price_columns2 {
    grid-template-columns: 80px 0px;
  }
}