.menu_main_container{
    height: 100vh;
}

.dish_main_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin: 0;
    height: 89vh;
    overflow: auto;
    /* background-color: rgba(179, 177, 177, 0.407); */
}

.dish_container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0; /* <-- маленький хак против зазора flex-wrap */
}
  

.dish_title {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  font-family: "Ondine";
  color: rgb(91, 44, 28);
  font-size: 3vh;
}

.dish {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  grid-auto-rows: 4vw;
  font-size: 1.5vh;
  font-family: "Mulish";
}

.price {
  font-family: "MulishBold";
  justify-self: center;
}

.dish_title p:last-child {
  justify-self: center;
}

.video{
    display: flex;
}