@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ondine';
  src: url('./assets/fonts/Ondine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MulishLight';
  src: url('./assets/fonts/Mulish-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MulishBold';
  src: url('./assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("./img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* color: rgb(82, 30, 6); */
}

.conteiner{
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
}

